*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI',sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  overflow-x: hidden;
}
img{
  margin: 0;
  width: 110%;
}
p{
  margin: 0;
  padding-top: 10px;
}
hr{
  padding: 0;
  margin: 0;
}
.v-header{
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
}

.videoInsert{
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background-size:cover;
}

.container{
  max-width: 1280px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
}

.fullscreen-video-wrap{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.fullscreen-video-wrap video{
  min-width: 100%;
  min-height: 100%;
}

.header-overlay{
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: #282e34;
  z-index: 1;
  opacity: 0.85;
}

.header-content{
  z-index: 2;
  margin: auto;
}

.header-content h1{
  font-size: 50px;
  margin-bottom: 0;
}

.header-content p{
  font-size: 1.5rem;
  display: block;
  padding-bottom: 2rem;
}

.navHeader {
  height: 100px;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  z-index: 2;
}


.navHeader h1{
  font-size: 40px;
  text-align: left;
  margin-left: 40px;
}

.navHeader #brading span{
  color: #34b3a0;
}

.navHeader #brading a{
  font-size: 40px;
  text-transform: none;
}

#navbar{
  float: right;
  margin-top: -70px;
  padding: 0;
}

.navHeader a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}
#navbar ul, li{
  padding-right: 20px;
  display: inline;
  list-style: none;
}

/* .navHeader li{
  padding-right: 20px;
  display: inline;
  list-style: none;
} */

#navbar a:hover{
  color: #34b3a0;
  border-bottom: 3px solid #fff;
}


.btn{
  background: #34b3a0;
  color: #fff;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  text-decoration: none;

}

.btn:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section h3{
  font-family: Avenir-Heavy;
  font-size: 26px;
  color: #34b3a0;
  margin-bottom: 10px;
}
.section h2{
  font-family: Avenir-Roman;
  font-size: 40px;
  color: rgb(100, 100,100);
  display: inline;
  vertical-align: middle;
}
.section{
  padding: 20px 0;
}
.sectionPadding{
  margin-top: 50px;
  padding: 0;
  margin-bottom: 50px;
}

.projectInfo{
  text-align: left;
}

section #porfolioText{
  color: #34b3a0;
  font-size: 50px;
  margin: 0;
  text-align: center;
  /* margin-bottom: 80px; */
}

footer{
  padding: 20px;
  min-height: 300px;
  color: #34b3a0;
  text-align: center;
  background-color: #252a30;
}

#company{
  background-color: #252a30;
  color: #34b3a0;
  padding: 20px;
}

.footer-image {
  background-image: url(../Resources/photo.jpg);
  background-size: 100%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 20px;
  margin: auto;
  border: 4px solid white;
}

.footer-info {
  margin-top: -15px;

}

.footer-info p{
  text-align: left;
  font-size: 18px;
}

.contact-icons {
  text-align: center;
  margin-bottom: 40px;
}

.contact-icons img {
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 30px;
  width: 40px;
  height: 40px;
}

.contact-icons img:hover{
  border-bottom: 1px solid #fff;
}
#copyrightText{
color: rgba(255,255,255,0.4);

}


.app-store-button {
  background-image: url(../Resources/appstore-badge.png);
  background-repeat: no-repeat;
  background-size: 100%;
  border: none;
  object-fit: fill;
  width: 150px;
  height: 50px;
  margin-top: 50px;
  margin-right: 40px;
  display:inline;
  cursor: pointer;
}


.play-store-button {
  background-image: url(../Resources/google-play-badge.png);
  background-repeat: no-repeat;
  background-size: 100%;
  border: none;
  object-fit: fill;
  width: 150px;
  height: 50px;
  margin-top: 50px;
  margin-right: 40px;
  display:inline;
  cursor: pointer;
}

/* .app-store-button:hover,
.app-store-button:active,
.app-store-button:focus {
  background-image: url(../Resources/app_store_icon.png);
  background-position: 0 0;
  outline: none !important;
} */

@media (max-width: 720px) {
  /* .container{
    padding-right: 3rem;
    padding-left: 3rem;
    font-size: 20px;
  } */

  .navHeader #brading h1{
    text-align: center;
    margin: auto;
  }

  #navbar{
    margin-top: 10px;
  }

  #navbar ul{
    text-align: center;
    list-style: none;
  }

  #navbar ul, li {
   display: inline-block;
}

  .header-content h1{
    font-size: 20px;
    margin-bottom: 0;
  }

  .header-content p{
    font-size: 1.0rem;
    display: block;
    padding-bottom: 2rem;
  }

  .footer-info p{
    text-align: center;
  }


}
